* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 735px;
}

.header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header__input::placeholder {
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.menu__link:hover {
  text-decoration: underline;
}

.title {
  width: 792px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.top__link {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
  text-decoration: underline;
}

.top__link-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  padding-top: 39px;
  padding-bottom: 64px;
}

.product-box {
  padding-top: 64px;
}

.product-content {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__img {
  width: 100%;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 10px;
}

.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product__box-price {
  display: flex;
  gap: 32px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.heading__footer {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer {
  background: #f7f6f6;
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__content {
  width: 789px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.form__email {
  width: 275px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  padding-left: 25px;
  padding-right: 25px;
}

.form__email::placeholder {
  color: #c4c4c4;
}

.form__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
